<div>
    <h1>Informacion del usuario</h1>
</div>
<div>
    <div class="grid grid-rows-3">
        <!-- Informacion del usuario -->
        <div class="grid-cols-1">
            <img src="..." alt="Avatar">

            <h2>Usuario: </h2>
            <p>Correo: </p>
            <p>Nombre: </p>
        </div>
        <!-- Muestra un error en caso de no encontrar ningun usaurio con ese valor -->
        <div class="grid grid-cols-1">
            <h3 class="text-center font-sans">Usuario no encontrado</h3>
        </div>
        <!-- Botones pare ver otros usuarios o volver al usuario anterior -->
        <div class="grid-cols-1">
            <h2 class="font-bold text-2xl mt-1 mb-2">Usuario</h2>
            <hr>

            <button class="p-3 rounded-md text-center font-bold text-white bg-blue-400"> Anterior
            </button>
            &nbsp;
            <button class="p-3 rounded-md text-center font-bold text-white bg-blue-400"> Siguiente </button>
        </div>

    </div>
</div>