<h1 class="text-center font-mono text-4xl">{{ 'agregar productos' | uppercase }}</h1>
<hr>

<form class="grid grid-rows-1" [formGroup]="formulario">
    <div class="grid grid-cols-3">
        <div class="col-span-1">
            <label class="font-mono">nombre</label>
            <input type="text" class="border-e-8" formControlName="name">
        </div>

        <div class="col-span-2">
            <span class="font-mono" customLabel [color]="color"></span>
        </div>
    </div>
    <div class="grid grid-cols-3">
        <div class="col-span-2">
            <button (click)="cambiarColor()" class="rounded-lg bg-blue-600 p-2 text-white">Cambiar color</button>
        </div>
    </div>
</form>


<pre>
    {{ formulario.get('name')?.errors | json}}
</pre>
<p>
    El color es: {{ color }}
</p>